// import dark theme
@use "element-plus/theme-chalk/src/dark/css-vars.scss" as *;

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td,
tr,
b {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0;
}
ol,
ul {
  list-style: none;
}
em {
  font-style: normal;
}

body {
  font-family: Inter, system-ui, Avenir, "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
    "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}

$text-color: #ff0000;

.el-button {
  color: $text-color; /* 文字颜色 */
  // --el-button-text-color: $text-color; /* 文字颜色 */
}
