@import './base.css';

html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
form,
fieldset,
input,
p,
blockquote,
th,
td,
tr,
b {
  margin: 0;
  padding: 0;
}
fieldset,
img {
  border: 0;
}
ol,
ul {
  list-style: none;
}
em {
  font-style: normal;
}
#app {
  height: 100%;
  background-color: #e6eaf0;
}
html,
body {
  min-height: 100vh;
}

/* :root {
  --dark-bg: #00142d;
  --dark-color: #ffffff80;
  --dark-slide-bg: #0d203a;

  --light-bg: #ffffff;
  --light-color: #00142d;
  --light-slide-bg: #f9fafb;

  --theme-color: #035bec;
}

:root {
  --zoom: 1;
  --100vh: calc(100vh / var(--zoom));
} */

